.canvas {
	border: solid black 10px;
	display: flex;
	flex-direction: grid;
	flex-wrap: wrap;
	width: 395px;
	height:300px;
	background-color: black;

}
.pixel {
	background-color: white;
	width: 8px;
	height:8px;
	border: solid black 1px
}
.pixel:nth-of-type(1),
.pixel:nth-of-type(2),
.pixel:nth-of-type(3),
.pixel:nth-of-type(4),
.pixel:nth-of-type(5),
.pixel:nth-of-type(8),
.pixel:nth-of-type(9),
.pixel:nth-of-type(35),
.pixel:nth-of-type(36),
.pixel:nth-of-type(37),
.pixel:nth-of-type(38),
.pixel:nth-of-type(39),
.pixel:nth-of-type(40),
.pixel:nth-of-type(44),
.pixel:nth-of-type(76),
.pixel:nth-of-type(77),
.pixel:nth-of-type(79),
.pixel:nth-of-type(80),
.pixel:nth-of-type(81),
.pixel:nth-of-type(101),
.pixel:nth-of-type(115),
.pixel:nth-of-type(117),
.pixel:nth-of-type(154),
.pixel:nth-of-type(193),
.pixel:nth-of-type(229),
.pixel:nth-of-type(301),
.pixel:nth-of-type(308),
.pixel:nth-of-type(341)
{
background-color:#934e1b
}

.pixel:nth-of-type(6),
.pixel:nth-of-type(7),
.pixel:nth-of-type(34),
.pixel:nth-of-type(41),
.pixel:nth-of-type(42),
.pixel:nth-of-type(43),
.pixel:nth-of-type(60),
.pixel:nth-of-type(61),
.pixel:nth-of-type(73),
.pixel:nth-of-type(74),
.pixel:nth-of-type(75),
.pixel:nth-of-type(78),
.pixel:nth-of-type(89),
.pixel:nth-of-type(114),
.pixel:nth-of-type(116),
.pixel:nth-of-type(123),
.pixel:nth-of-type(124),
.pixel:nth-of-type(125),
.pixel:nth-of-type(128),
.pixel:nth-of-type(129),
.pixel:nth-of-type(130),
.pixel:nth-of-type(131),
.pixel:nth-of-type(133),
.pixel:nth-of-type(134),
.pixel:nth-of-type(136),
.pixel:nth-of-type(137),
.pixel:nth-of-type(153),
.pixel:nth-of-type(159),
.pixel:nth-of-type(160),
.pixel:nth-of-type(164),
.pixel:nth-of-type(165),
.pixel:nth-of-type(176),
.pixel:nth-of-type(177),
.pixel:nth-of-type(178),
.pixel:nth-of-type(179),
.pixel:nth-of-type(183),
.pixel:nth-of-type(196),
.pixel:nth-of-type(201),
.pixel:nth-of-type(217),
.pixel:nth-of-type(218),
.pixel:nth-of-type(219),
.pixel:nth-of-type(233),
.pixel:nth-of-type(257),
.pixel:nth-of-type(258),
.pixel:nth-of-type(270),
.pixel:nth-of-type(296),
.pixel:nth-of-type(297),
.pixel:nth-of-type(307),
.pixel:nth-of-type(336),
.pixel:nth-of-type(344),
.pixel:nth-of-type(345),
.pixel:nth-of-type(349),
.pixel:nth-of-type(372),
.pixel:nth-of-type(373),
.pixel:nth-of-type(376),
.pixel:nth-of-type(381),
.pixel:nth-of-type(386),
.pixel:nth-of-type(410),
.pixel:nth-of-type(416),
.pixel:nth-of-type(421),
.pixel:nth-of-type(424),
.pixel:nth-of-type(450),
.pixel:nth-of-type(451),
.pixel:nth-of-type(452),
.pixel:nth-of-type(453),
.pixel:nth-of-type(461),
.pixel:nth-of-type(491)

{
	background-color: #cf8349
}
.pixel:nth-of-type(10),
.pixel:nth-of-type(11),
.pixel:nth-of-type(12),
.pixel:nth-of-type(13),
.pixel:nth-of-type(27),
.pixel:nth-of-type(28),
.pixel:nth-of-type(29),
.pixel:nth-of-type(30),
.pixel:nth-of-type(31),
.pixel:nth-of-type(32),
.pixel:nth-of-type(33),
.pixel:nth-of-type(46),
.pixel:nth-of-type(47),
.pixel:nth-of-type(48),
.pixel:nth-of-type(68),
.pixel:nth-of-type(69),
.pixel:nth-of-type(70),
.pixel:nth-of-type(71),
.pixel:nth-of-type(83),
.pixel:nth-of-type(84),
.pixel:nth-of-type(90),
.pixel:nth-of-type(91),
.pixel:nth-of-type(93),
.pixel:nth-of-type(94),
.pixel:nth-of-type(95),
.pixel:nth-of-type(102),
.pixel:nth-of-type(103),
.pixel:nth-of-type(104),
.pixel:nth-of-type(105),
.pixel:nth-of-type(108),
.pixel:nth-of-type(109),
.pixel:nth-of-type(110),
.pixel:nth-of-type(111),
.pixel:nth-of-type(118),
.pixel:nth-of-type(120),
.pixel:nth-of-type(121),
.pixel:nth-of-type(142),
.pixel:nth-of-type(143),
.pixel:nth-of-type(147),
.pixel:nth-of-type(149),
.pixel:nth-of-type(150),
.pixel:nth-of-type(151),
.pixel:nth-of-type(157),
.pixel:nth-of-type(161),
.pixel:nth-of-type(162),
.pixel:nth-of-type(180),
.pixel:nth-of-type(181),
.pixel:nth-of-type(188),
.pixel:nth-of-type(189),
.pixel:nth-of-type(190),
.pixel:nth-of-type(194),
.pixel:nth-of-type(197),
.pixel:nth-of-type(198),
.pixel:nth-of-type(199),
.pixel:nth-of-type(220),
.pixel:nth-of-type(221),
.pixel:nth-of-type(227),
.pixel:nth-of-type(228),
.pixel:nth-of-type(230),
.pixel:nth-of-type(231),
.pixel:nth-of-type(234),
.pixel:nth-of-type(260),
.pixel:nth-of-type(261),
.pixel:nth-of-type(263),
.pixel:nth-of-type(264),
.pixel:nth-of-type(266),
.pixel:nth-of-type(267),
.pixel:nth-of-type(268),
.pixel:nth-of-type(271),
.pixel:nth-of-type(272),
.pixel:nth-of-type(299),
.pixel:nth-of-type(300),
.pixel:nth-of-type(305),
.pixel:nth-of-type(309),
.pixel:nth-of-type(340),
.pixel:nth-of-type(343),
.pixel:nth-of-type(379),
.pixel:nth-of-type(380),
.pixel:nth-of-type(382),
.pixel:nth-of-type(417),
.pixel:nth-of-type(418),
.pixel:nth-of-type(419)


{
	background-color: #b26c2f
}
.pixel:nth-of-type(14),
.pixel:nth-of-type(15),
.pixel:nth-of-type(18),
.pixel:nth-of-type(19),
.pixel:nth-of-type(20),
.pixel:nth-of-type(21),
.pixel:nth-of-type(22),
.pixel:nth-of-type(23),
.pixel:nth-of-type(24),
.pixel:nth-of-type(45),
.pixel:nth-of-type(49),
.pixel:nth-of-type(50),
.pixel:nth-of-type(52),
.pixel:nth-of-type(53),
.pixel:nth-of-type(54),
.pixel:nth-of-type(55),
.pixel:nth-of-type(58),
.pixel:nth-of-type(59),
.pixel:nth-of-type(63),
.pixel:nth-of-type(65),
.pixel:nth-of-type(66),
.pixel:nth-of-type(67),
.pixel:nth-of-type(72),
.pixel:nth-of-type(82),
.pixel:nth-of-type(92),
.pixel:nth-of-type(99),
.pixel:nth-of-type(100),
.pixel:nth-of-type(106),
.pixel:nth-of-type(107),
.pixel:nth-of-type(112),
.pixel:nth-of-type(113),
.pixel:nth-of-type(119),
.pixel:nth-of-type(122),
.pixel:nth-of-type(126),
.pixel:nth-of-type(127),
.pixel:nth-of-type(138),
.pixel:nth-of-type(140),
.pixel:nth-of-type(141),
.pixel:nth-of-type(146),
.pixel:nth-of-type(148),
.pixel:nth-of-type(152),
.pixel:nth-of-type(155),
.pixel:nth-of-type(156),
.pixel:nth-of-type(163),
.pixel:nth-of-type(168),
.pixel:nth-of-type(169),
.pixel:nth-of-type(170),
.pixel:nth-of-type(171),
.pixel:nth-of-type(172),
.pixel:nth-of-type(173),
.pixel:nth-of-type(182),
.pixel:nth-of-type(186),
.pixel:nth-of-type(187),
.pixel:nth-of-type(191),
.pixel:nth-of-type(192),
.pixel:nth-of-type(200),
.pixel:nth-of-type(203),
.pixel:nth-of-type(204),
.pixel:nth-of-type(205),
.pixel:nth-of-type(222),
.pixel:nth-of-type(223),
.pixel:nth-of-type(237),
.pixel:nth-of-type(238),
.pixel:nth-of-type(240),
.pixel:nth-of-type(262),
.pixel:nth-of-type(274),
.pixel:nth-of-type(275),
.pixel:nth-of-type(302),
.pixel:nth-of-type(303),
.pixel:nth-of-type(304),
.pixel:nth-of-type(311),
.pixel:nth-of-type(342),
.pixel:nth-of-type(384),
.pixel:nth-of-type(385)


{
	background-color: #c39c3a;

}
.pixel:nth-of-type(16),
.pixel:nth-of-type(17),
.pixel:nth-of-type(25),
.pixel:nth-of-type(26),
.pixel:nth-of-type(350),
.pixel:nth-of-type(374),
.pixel:nth-of-type(375),
.pixel:nth-of-type(455),
.pixel:nth-of-type(456)

{
	background-color: #c07634
}
.pixel:nth-of-type(51),
.pixel:nth-of-type(56),
.pixel:nth-of-type(57),
.pixel:nth-of-type(62),
.pixel:nth-of-type(64),
.pixel:nth-of-type(85),
.pixel:nth-of-type(86),
.pixel:nth-of-type(87),
.pixel:nth-of-type(88),
.pixel:nth-of-type(96),
.pixel:nth-of-type(97),
.pixel:nth-of-type(98),
.pixel:nth-of-type(139),
.pixel:nth-of-type(144),
.pixel:nth-of-type(145),
.pixel:nth-of-type(158),
.pixel:nth-of-type(184),
.pixel:nth-of-type(185),
.pixel:nth-of-type(195),
.pixel:nth-of-type(202),
.pixel:nth-of-type(206),
.pixel:nth-of-type(207),
.pixel:nth-of-type(208),
.pixel:nth-of-type(209),
.pixel:nth-of-type(210),
.pixel:nth-of-type(211),
.pixel:nth-of-type(214),
.pixel:nth-of-type(215),
.pixel:nth-of-type(216),
.pixel:nth-of-type(224),
.pixel:nth-of-type(225),
.pixel:nth-of-type(226),
.pixel:nth-of-type(232),
.pixel:nth-of-type(236),
.pixel:nth-of-type(239),
.pixel:nth-of-type(242),
.pixel:nth-of-type(243),
.pixel:nth-of-type(249),
.pixel:nth-of-type(250),
.pixel:nth-of-type(251),
.pixel:nth-of-type(252),
.pixel:nth-of-type(253),
.pixel:nth-of-type(254),
.pixel:nth-of-type(255),
.pixel:nth-of-type(256),
.pixel:nth-of-type(259),
.pixel:nth-of-type(265),
.pixel:nth-of-type(269),
.pixel:nth-of-type(273),
.pixel:nth-of-type(276),
.pixel:nth-of-type(277),
.pixel:nth-of-type(278),
.pixel:nth-of-type(279),
.pixel:nth-of-type(280),
.pixel:nth-of-type(286),
.pixel:nth-of-type(287),
.pixel:nth-of-type(288),
.pixel:nth-of-type(289),
.pixel:nth-of-type(290),
.pixel:nth-of-type(291),
.pixel:nth-of-type(298),
.pixel:nth-of-type(306),
.pixel:nth-of-type(310),
.pixel:nth-of-type(314),
.pixel:nth-of-type(315),
.pixel:nth-of-type(316),
.pixel:nth-of-type(331),
.pixel:nth-of-type(332),
.pixel:nth-of-type(337),
.pixel:nth-of-type(338),
.pixel:nth-of-type(339),
.pixel:nth-of-type(346),
.pixel:nth-of-type(347),
.pixel:nth-of-type(348),
.pixel:nth-of-type(351),
.pixel:nth-of-type(352),
.pixel:nth-of-type(370),
.pixel:nth-of-type(371),
.pixel:nth-of-type(377),
.pixel:nth-of-type(378),
.pixel:nth-of-type(383),
.pixel:nth-of-type(388),
.pixel:nth-of-type(389),
.pixel:nth-of-type(390),
.pixel:nth-of-type(406),
.pixel:nth-of-type(407),
.pixel:nth-of-type(408),
.pixel:nth-of-type(409),
.pixel:nth-of-type(420),
.pixel:nth-of-type(424),
.pixel:nth-of-type(425),
.pixel:nth-of-type(426),
.pixel:nth-of-type(427),
.pixel:nth-of-type(447),
.pixel:nth-of-type(448),
.pixel:nth-of-type(449),
.pixel:nth-of-type(454),
.pixel:nth-of-type(457),
.pixel:nth-of-type(458),
.pixel:nth-of-type(459),
.pixel:nth-of-type(460),
.pixel:nth-of-type(462),
.pixel:nth-of-type(463),
.pixel:nth-of-type(489),
.pixel:nth-of-type(490),
.pixel:nth-of-type(492),
.pixel:nth-of-type(493),
.pixel:nth-of-type(494),
.pixel:nth-of-type(495),
.pixel:nth-of-type(496),
.pixel:nth-of-type(497),
.pixel:nth-of-type(498),
.pixel:nth-of-type(498),
.pixel:nth-of-type(530),
.pixel:nth-of-type(531),
.pixel:nth-of-type(532),
.pixel:nth-of-type(662)
{
	background-color: #ffb440;
}
.pixel:nth-of-type(132),
.pixel:nth-of-type(135),
.pixel:nth-of-type(166),
.pixel:nth-of-type(167),
.pixel:nth-of-type(174),
.pixel:nth-of-type(175),
.pixel:nth-of-type(212),
.pixel:nth-of-type(213),
.pixel:nth-of-type(241),
.pixel:nth-of-type(294),
.pixel:nth-of-type(312),
.pixel:nth-of-type(313),
.pixel:nth-of-type(333),
.pixel:nth-of-type(334),
.pixel:nth-of-type(335),
.pixel:nth-of-type(387),
.pixel:nth-of-type(422),
.pixel:nth-of-type(423)
{
	background-color: #e5a039
}

.pixel:nth-of-type(235)
{
	background-color: #874b29; 
}
.pixel:nth-of-type(244),
.pixel:nth-of-type(245),
.pixel:nth-of-type(246),
.pixel:nth-of-type(247),
.pixel:nth-of-type(248),
.pixel:nth-of-type(281),
.pixel:nth-of-type(282),
.pixel:nth-of-type(283),
.pixel:nth-of-type(317),
.pixel:nth-of-type(318),
.pixel:nth-of-type(328),
.pixel:nth-of-type(329),
.pixel:nth-of-type(330),
.pixel:nth-of-type(353),
.pixel:nth-of-type(354),
.pixel:nth-of-type(355),
.pixel:nth-of-type(369),
.pixel:nth-of-type(391),
.pixel:nth-of-type(392),
.pixel:nth-of-type(428),
.pixel:nth-of-type(429),
.pixel:nth-of-type(464)
{
	background-color: #ffc545
}
.pixel:nth-of-type(284),
.pixel:nth-of-type(285),
.pixel:nth-of-type(319),
.pixel:nth-of-type(320),
.pixel:nth-of-type(321),
.pixel:nth-of-type(322),
.pixel:nth-of-type(323),
.pixel:nth-of-type(324),
.pixel:nth-of-type(325),
.pixel:nth-of-type(326),
.pixel:nth-of-type(327),
.pixel:nth-of-type(356),
.pixel:nth-of-type(357),
.pixel:nth-of-type(365),
.pixel:nth-of-type(366),
.pixel:nth-of-type(367),
.pixel:nth-of-type(368),
.pixel:nth-of-type(393),
.pixel:nth-of-type(394),
.pixel:nth-of-type(404),
.pixel:nth-of-type(405),
.pixel:nth-of-type(444),
.pixel:nth-of-type(445),
.pixel:nth-of-type(446),
.pixel:nth-of-type(465),
.pixel:nth-of-type(485),
.pixel:nth-of-type(486),
.pixel:nth-of-type(487),
.pixel:nth-of-type(488),
.pixel:nth-of-type(499),
.pixel:nth-of-type(500),
.pixel:nth-of-type(501),
.pixel:nth-of-type(525),
.pixel:nth-of-type(526),
.pixel:nth-of-type(527),
.pixel:nth-of-type(528),
.pixel:nth-of-type(529),
.pixel:nth-of-type(548),
.pixel:nth-of-type(549),
.pixel:nth-of-type(556),
.pixel:nth-of-type(702)
{
	background-color: #ffdb48
}

.pixel:nth-of-type(292),
.pixel:nth-of-type(293),
.pixel:nth-of-type(295),
.pixel:nth-of-type(557),
.pixel:nth-of-type(558),
.pixel:nth-of-type(585),
.pixel:nth-of-type(701),
.pixel:nth-of-type(705)
{
	background-color: #ffb03f
}
.pixel:nth-of-type(358),
.pixel:nth-of-type(359),
.pixel:nth-of-type(360),
.pixel:nth-of-type(361),
.pixel:nth-of-type(362),
.pixel:nth-of-type(363),
.pixel:nth-of-type(364),
.pixel:nth-of-type(401),
.pixel:nth-of-type(402),
.pixel:nth-of-type(403),
.pixel:nth-of-type(430),
.pixel:nth-of-type(431),
.pixel:nth-of-type(442),
.pixel:nth-of-type(443),
.pixel:nth-of-type(550),
.pixel:nth-of-type(551),
.pixel:nth-of-type(552),
.pixel:nth-of-type(553),
.pixel:nth-of-type(554),
.pixel:nth-of-type(555),
.pixel:nth-of-type(586),
.pixel:nth-of-type(587),
.pixel:nth-of-type(592),
.pixel:nth-of-type(627),
.pixel:nth-of-type(628),
.pixel:nth-of-type(629),
.pixel:nth-of-type(664),
.pixel:nth-of-type(665),
.pixel:nth-of-type(667),
.pixel:nth-of-type(704),
.pixel:nth-of-type(706),
.pixel:nth-of-type(707),
.pixel:nth-of-type(741),
.pixel:nth-of-type(781)


{
background-color: #fddb7d
}
.pixel:nth-of-type(395),
.pixel:nth-of-type(396),
.pixel:nth-of-type(397),
.pixel:nth-of-type(398),
.pixel:nth-of-type(399),
.pixel:nth-of-type(400),
.pixel:nth-of-type(432),
.pixel:nth-of-type(433),
.pixel:nth-of-type(434),
.pixel:nth-of-type(439),
.pixel:nth-of-type(440),
.pixel:nth-of-type(441),
.pixel:nth-of-type(466),
.pixel:nth-of-type(467),
.pixel:nth-of-type(468),
.pixel:nth-of-type(469),
.pixel:nth-of-type(482),
.pixel:nth-of-type(483),
.pixel:nth-of-type(484),
.pixel:nth-of-type(502),
.pixel:nth-of-type(503),
.pixel:nth-of-type(523),
.pixel:nth-of-type(524),
.pixel:nth-of-type(543),
.pixel:nth-of-type(588),
.pixel:nth-of-type(589),
.pixel:nth-of-type(590),
.pixel:nth-of-type(591),
.pixel:nth-of-type(593),
.pixel:nth-of-type(594),
.pixel:nth-of-type(621),
.pixel:nth-of-type(666),
.pixel:nth-of-type(700),
.pixel:nth-of-type(703),
.pixel:nth-of-type(742),
.pixel:nth-of-type(743),
.pixel:nth-of-type(744)

{
	background-color: #ffff72
}
.pixel:nth-of-type(411),
.pixel:nth-of-type(412),
.pixel:nth-of-type(413),
.pixel:nth-of-type(414),
.pixel:nth-of-type(415),
.pixel:nth-of-type(534),
.pixel:nth-of-type(546),
.pixel:nth-of-type(622),
.pixel:nth-of-type(632),
.pixel:nth-of-type(656),
.pixel:nth-of-type(657),
.pixel:nth-of-type(658),
.pixel:nth-of-type(674),
.pixel:nth-of-type(675)

{
	background-color: #ffb03f
}
.pixel:nth-of-type(435),
.pixel:nth-of-type(436),
.pixel:nth-of-type(437),
.pixel:nth-of-type(438),
.pixel:nth-of-type(439),
.pixel:nth-of-type(440),
.pixel:nth-of-type(470),
.pixel:nth-of-type(471),
.pixel:nth-of-type(472),
.pixel:nth-of-type(473),
.pixel:nth-of-type(474),
.pixel:nth-of-type(475),
.pixel:nth-of-type(476),
.pixel:nth-of-type(477),
.pixel:nth-of-type(478),
.pixel:nth-of-type(479),
.pixel:nth-of-type(480),
.pixel:nth-of-type(481),
.pixel:nth-of-type(504),
.pixel:nth-of-type(505),
.pixel:nth-of-type(506),
.pixel:nth-of-type(507),
.pixel:nth-of-type(508),
.pixel:nth-of-type(509),
.pixel:nth-of-type(510),
.pixel:nth-of-type(511),
.pixel:nth-of-type(512),
.pixel:nth-of-type(513),
.pixel:nth-of-type(514),
.pixel:nth-of-type(515),
.pixel:nth-of-type(516),
.pixel:nth-of-type(517),
.pixel:nth-of-type(518),
.pixel:nth-of-type(519),
.pixel:nth-of-type(520),
.pixel:nth-of-type(521),
.pixel:nth-of-type(522),
.pixel:nth-of-type(630),
.pixel:nth-of-type(631),
.pixel:nth-of-type(739),
.pixel:nth-of-type(740),
.pixel:nth-of-type(770),
.pixel:nth-of-type(790),
.pixel:nth-of-type(791),
.pixel:nth-of-type(799),
.pixel:nth-of-type(800)
{
	background-color: rgb(235, 213, 253)
}
.pixel:nth-of-type(533),
.pixel:nth-of-type(535),
.pixel:nth-of-type(536),
.pixel:nth-of-type(537),
.pixel:nth-of-type(538),
.pixel:nth-of-type(539),
.pixel:nth-of-type(541),
.pixel:nth-of-type(542),
.pixel:nth-of-type(564),
.pixel:nth-of-type(565),
.pixel:nth-of-type(566),
.pixel:nth-of-type(567),
.pixel:nth-of-type(568),
.pixel:nth-of-type(569),
.pixel:nth-of-type(570),
.pixel:nth-of-type(571),
.pixel:nth-of-type(572),
.pixel:nth-of-type(573),
.pixel:nth-of-type(574),
.pixel:nth-of-type(575),
.pixel:nth-of-type(576),
.pixel:nth-of-type(577),
.pixel:nth-of-type(653),
.pixel:nth-of-type(654),
.pixel:nth-of-type(660),
.pixel:nth-of-type(682),
.pixel:nth-of-type(683),
.pixel:nth-of-type(684),
.pixel:nth-of-type(792)
{
	background-color: #686766
}
.pixel:nth-of-type(540),
.pixel:nth-of-type(562),
.pixel:nth-of-type(563),
.pixel:nth-of-type(578),
.pixel:nth-of-type(579),
.pixel:nth-of-type(580),
.pixel:nth-of-type(647),
.pixel:nth-of-type(648),
.pixel:nth-of-type(649),
.pixel:nth-of-type(650),
.pixel:nth-of-type(651),
.pixel:nth-of-type(652),
.pixel:nth-of-type(655),
.pixel:nth-of-type(659),
.pixel:nth-of-type(661),
.pixel:nth-of-type(672),
.pixel:nth-of-type(673),
.pixel:nth-of-type(676),
.pixel:nth-of-type(677),
.pixel:nth-of-type(678),
.pixel:nth-of-type(679),
.pixel:nth-of-type(680),
.pixel:nth-of-type(681),
.pixel:nth-of-type(729),
.pixel:nth-of-type(730),
.pixel:nth-of-type(731),
.pixel:nth-of-type(732),
.pixel:nth-of-type(733),
.pixel:nth-of-type(761),
.pixel:nth-of-type(767),
.pixel:nth-of-type(768),
.pixel:nth-of-type(769),
.pixel:nth-of-type(771),
.pixel:nth-of-type(772),
.pixel:nth-of-type(773),
.pixel:nth-of-type(774),
.pixel:nth-of-type(775),
.pixel:nth-of-type(788),
.pixel:nth-of-type(789)
{
	background-color: #87765c
}
.pixel:nth-of-type(544),
.pixel:nth-of-type(545),
.pixel:nth-of-type(547),
.pixel:nth-of-type(559),
.pixel:nth-of-type(560),
.pixel:nth-of-type(561),
.pixel:nth-of-type(581),
.pixel:nth-of-type(582),
.pixel:nth-of-type(583),
.pixel:nth-of-type(584),
.pixel:nth-of-type(623),
.pixel:nth-of-type(633),
.pixel:nth-of-type(737),
.pixel:nth-of-type(738)
{
	background-color: #b87536
}
.pixel:nth-of-type(595),
.pixel:nth-of-type(596),
.pixel:nth-of-type(597),
.pixel:nth-of-type(598),
.pixel:nth-of-type(618),
.pixel:nth-of-type(619),
.pixel:nth-of-type(624),
.pixel:nth-of-type(625),
.pixel:nth-of-type(626),
.pixel:nth-of-type(634),
.pixel:nth-of-type(635),
.pixel:nth-of-type(663),
.pixel:nth-of-type(668),
.pixel:nth-of-type(669),
.pixel:nth-of-type(698),
.pixel:nth-of-type(708),
.pixel:nth-of-type(709),
.pixel:nth-of-type(745),
.pixel:nth-of-type(746),
.pixel:nth-of-type(777),
.pixel:nth-of-type(778),
.pixel:nth-of-type(779),
.pixel:nth-of-type(780),
.pixel:nth-of-type(787)
{
	background-color: #c39c3a
}
.pixel:nth-of-type(599),
.pixel:nth-of-type(600),
.pixel:nth-of-type(601),
.pixel:nth-of-type(602),
.pixel:nth-of-type(603),
.pixel:nth-of-type(604),
.pixel:nth-of-type(605),
.pixel:nth-of-type(606),
.pixel:nth-of-type(607),
.pixel:nth-of-type(608),
.pixel:nth-of-type(711),
.pixel:nth-of-type(712),
.pixel:nth-of-type(717),
.pixel:nth-of-type(718),
.pixel:nth-of-type(719),
.pixel:nth-of-type(720),
.pixel:nth-of-type(721),
.pixel:nth-of-type(722),
.pixel:nth-of-type(723),
.pixel:nth-of-type(724),
.pixel:nth-of-type(725),
.pixel:nth-of-type(726),
.pixel:nth-of-type(727),
.pixel:nth-of-type(728),
.pixel:nth-of-type(808),
.pixel:nth-of-type(809),
.pixel:nth-of-type(810)
{
	background-color: #797166
}
.pixel:nth-of-type(609),
.pixel:nth-of-type(610),
.pixel:nth-of-type(645),
.pixel:nth-of-type(646),
.pixel:nth-of-type(685),
.pixel:nth-of-type(686),
.pixel:nth-of-type(758),
.pixel:nth-of-type(795)
{
	background-color: #3e2b1e
}
.pixel:nth-of-type(611),
.pixel:nth-of-type(612),
.pixel:nth-of-type(613),
.pixel:nth-of-type(617),
.pixel:nth-of-type(620),
.pixel:nth-of-type(751),
.pixel:nth-of-type(748),
.pixel:nth-of-type(752),
.pixel:nth-of-type(753),
.pixel:nth-of-type(754),
.pixel:nth-of-type(755),
.pixel:nth-of-type(797),
.pixel:nth-of-type(798)
{
	background-color: #6e6d67
}
.pixel:nth-of-type(614),
.pixel:nth-of-type(615),
.pixel:nth-of-type(616),
.pixel:nth-of-type(636),
.pixel:nth-of-type(637),
.pixel:nth-of-type(638),
.pixel:nth-of-type(639),
.pixel:nth-of-type(640),
.pixel:nth-of-type(641),
.pixel:nth-of-type(642),
.pixel:nth-of-type(643),
.pixel:nth-of-type(644),
.pixel:nth-of-type(688),
.pixel:nth-of-type(689),
.pixel:nth-of-type(690)
{
	background-color: #766f65
}
.pixel:nth-of-type(670),
.pixel:nth-of-type(671),
.pixel:nth-of-type(691),
.pixel:nth-of-type(692),
.pixel:nth-of-type(693),
.pixel:nth-of-type(694),
.pixel:nth-of-type(695),
.pixel:nth-of-type(696),
.pixel:nth-of-type(697),
.pixel:nth-of-type(699),
.pixel:nth-of-type(710),
.pixel:nth-of-type(713),
.pixel:nth-of-type(714),
.pixel:nth-of-type(715),
.pixel:nth-of-type(716),
.pixel:nth-of-type(747),
.pixel:nth-of-type(749),
.pixel:nth-of-type(750)

{
	background-color: #957952
}
.pixel:nth-of-type(687),
.pixel:nth-of-type(756),
.pixel:nth-of-type(757),
.pixel:nth-of-type(759),
.pixel:nth-of-type(760),
.pixel:nth-of-type(762),
.pixel:nth-of-type(763),
.pixel:nth-of-type(764),
.pixel:nth-of-type(765),
.pixel:nth-of-type(766),
.pixel:nth-of-type(793),
.pixel:nth-of-type(794),
.pixel:nth-of-type(796)
{
	background-color: #495767
}
.pixel:nth-of-type(734),
.pixel:nth-of-type(735),
.pixel:nth-of-type(736),
.pixel:nth-of-type(782),
.pixel:nth-of-type(783),
.pixel:nth-of-type(784),
.pixel:nth-of-type(785),
.pixel:nth-of-type(786)
{
	background-color: #ffef4d
}
.pixel:nth-of-type(801),
.pixel:nth-of-type(802),
.pixel:nth-of-type(803),
.pixel:nth-of-type(804),
.pixel:nth-of-type(805),
.pixel:nth-of-type(806),
.pixel:nth-of-type(807)
{
	background-color: #585f6a
}